<!DOCTYPE html>
<html>
<head>
	<title>Recipe Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<style>
    body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

form {
	width: 50%;
	margin: 0 auto;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"], textarea, input[type="time"], input[type="number"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	float: right;
}

button[type="submit"]:hover {
	background-color: #45a049;
}

</style>
<body>
	<h1>Recipe Form</h1>
	<form method="POST" action="/saveRecipe">
		<label for="recipename">Recipe Name:</label>
		<input type="text" id="recipename" name="recipename" >

		<label for="ingredients">Ingredients:</label>
		<textarea id="ingredients" name="ingredients" rows="5" cols="30" ></textarea>

		<label for="instructions">Instructions:</label>
		<textarea id="instructions" name="instructions" rows="10" cols="30" ></textarea>

		<label for="prepTime">Preparation Time:</label>
		<input type="number" id="prepTime" name="prepTime" >

		<label for="cookTime">Cooking Time:</label>
		<input type="number" id="cookTime" name="cookTime" >

		<label for="servings">Servings:</label>
		<input type="number" id="servings" name="servings" min="1" max="100" >

        <label for="recipeImage">Recipe Image:</label>
		<input type="file" id="recipeImage" name="recipeImage">
        
		<button type="submit">Save</button>
	</form>
</body>
</html>
